@use './variables-mixins' as *;

.grow-together{
    height: 841px;
    background-image: url('../assets/images/grow-together.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 165px;

    .container{
        margin: auto;
        width: 81.94%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text{
            width: 44.07%;
            color: $Very-Dark-Cyan;

            h2{
            font-size: 40px;
            font-family: $poppins;
            font-weight: 700;
            line-height: 60px;
            margin-bottom: 26px;
            }

            p{
                font-size: 16px;
                font-family: $open-sans;
                font-weight: 400;
                line-height: 24px;
            }
        }

        .image{
            width: 47.46%;
            padding: 68px 21px;

            img{
                display: block;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}