@use './variables-mixins' as *;

header{
    height: 118px;
    padding-top: 78px;
    margin-bottom: 225px;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 90.07%;
        margin: auto;

        button{
            width: 136px;
            height: 40px;
            border-radius: 20px;
            border: 1px solid $Pink;
            background: #FFF;
            box-shadow: 0px 0px 9px 0px rgba(255, 82, 193, 0.22);
            color: $open-sans;
            font-size: 16px;
            color: $Pink;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                border-color: $Light-Pink;
                color: $Pink;
            }
        }
    }
}

/*********************
** Tablet and phone **
*********************/

@media (max-width:1200px){
    header{
        height: 48px;
        padding-top: 24px;
        margin-bottom: 112px;

        nav{
            width: 87.2%;

            img{
                display: block;
                width: 96px;
            }

            button{
                width: 80px;
                height: 23.529px;
                border-radius: 11.765px;
                border: 0.588px solid $Pink;
                box-shadow: 0px 0px 5px 0px rgba(255, 82, 193, 0.22);
                font-size: 9.412px;
            }
        }
    }
}