@use './variables-mixins' as *;

header{
    height: 118px;
    padding-top: 78px;
    margin-bottom: 225px;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 90.07%;
        margin: auto;

        button{
            width: 136px;
            height: 40px;
            border-radius: 20px;
            border: 1px solid $Pink;
            background: #FFF;
            box-shadow: 0px 0px 9px 0px rgba(255, 82, 193, 0.22);
            color: $open-sans;
            font-size: 16px;
            color: $Pink;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                border-color: $Light-Pink;
                color: $Pink;
            }
        }
    }
}