@use './variables-mixins' as *;

.hero{
    height: 1157px;
    margin-bottom: 120px;

    .container{
        width: 70.625%;
        margin: auto;
        height: 100%;
        text-align: center;
        color: $Very-Dark-Cyan;

        h1{
            font-size: 48px;
            font-family: $poppins;
            font-weight: 700;
            line-height: 72px;
        }

        p{
            max-width: 600px;
            font-size: 20px;
            font-family: $open-sans;
            line-height: 30px;
            margin: 26px auto 49px;
        }

        button{
            width: 400px;
            height: 80px;
            font-size: 20px;
            color: white;
            font-family: $open-sans;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 120px;
            background-color: $Pink;
            border: none;
            border-radius: 40px;
            box-shadow: 0px 0px 9px 0px rgba(255, 82, 193, 0.22);
        }

        img{
            display: block;
            width: 100%;
            max-height: 720px;
            object-fit: cover;
        }
    }
}