@use './variables-mixins' as *;

.hero{
    height: 1157px;
    margin-bottom: 120px;

    .container{
        width: 1016px;
        margin: auto;
        height: 100%;
        text-align: center;
        color: $Very-Dark-Cyan;

        h1{
            font-size: 48px;
            font-family: $poppins;
            font-weight: 700;
            line-height: 72px;
        }

        p{
            max-width: 600px;
            font-size: 20px;
            font-family: $open-sans;
            line-height: 30px;
            margin: 26px auto 49px;
        }

        button{
            width: 400px;
            height: 80px;
            font-size: 20px;
            color: white;
            font-family: $open-sans;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 120px;
            background-color: $Pink;
            border: none;
            border-radius: 40px;
            box-shadow: 0px 0px 9px 0px rgba(255, 82, 193, 0.22);
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                background-color: $Light-Pink;
                filter: drop-shadow(0px 6px 13px rgba(0, 37, 46, 0.22));
            }
        }

        img{
            display: block;
            width: 100%;
            // margin: auto;
            // max-height: 720px;
            // object-fit: cover;
        }
    }
}

/**********************
** Tablet and Mobile **
**********************/

@media (max-width:1200px){
    .hero{
        height: 581px;
        margin-bottom: 145.6px;

        .container{
            width: 78.93%;

            h1{
                font-size: 24px;
                line-height: 36px; 
            }

            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 21px; 
                margin: 24px auto 48px;
            }

            button{
                width: 200px;
                height: 40px;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 115px;
            }

            img{
                width: 396px;
                margin: auto;
            }
        }
    }
}


@media (max-width:1000px){
    .hero{
        .container{
            img{
                width: 296px;
            }
        }
    }
}